@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root {
    --pading-container: 100px 0;
    --color-tittle: #001a49; 
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
    overflow: hidden;
    padding: var(--pading-container);
}
.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;

}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%,#0000008c 100% ), url('../images/05.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*Nav*/

.nav {
    --pading-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__tittle {
    font-weight: 300;
}
.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav__items {
    list-style: none;
}
.nav__links {
    color: #fff;
    text-decoration: none;
}
.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav__img {
    display: block;
    width: 30px;
}
.nav__close {
    display: var(--show, none);
}

/*Hero Container*/

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}
.hero__tittle {
    font-size: 3rem;
}
.hero__paragraph {
    margin-bottom: 20px;
}
.cta {
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/*About*/

.about {
    text-align: center;
}
.subtittle {
    color: var(--color-tittle);
    font-size: 2rem;
    margin-bottom: 25px;
}
.about__paragraph {
    line-height: 1.7;   
}
.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax (260px, auto));
}
.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}
.about__icon {
    width: 40px;
}

/*Knowledge*/

.knowledge {
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}
.knowledge__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}
.knowledge__picture {
    max-width: 500px;
}
.knowledge__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}
.knowledge__img {
    width: 100%;
    display: block;
}

/*Questions*/

.questions {
    text-align: center;
}
.question__container {
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}
.question__padding {
    padding: 0;
    transition: padding .2s;
    border: 1px solid #5454d4;
    border-radius: 6px;
}
.question__padding--add {
    padding-bottom: 30px;
}
.question__answer {
    padding: 0 30px 0;
    overflow: hidden;
}
.question__tittle {
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-tittle);
    justify-content: space-between;
}
.question__arrow {
    border-radius: 50%;
    background-color: var(--color-tittle);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center; 
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}
.question__arrow--rotate {
    transform: rotate(180deg);
}
.question__img {
    display: block;
}
.question__copy {
    margin-bottom: 30px;
    width: 60%;
    margin: 0 auto;
}

/*Footer*/

.footer {
    background-color: #1d293f;
}
.footer__tittle {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}
.footer_tittle, .footer__newsletter {
    color: #fff;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}
.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
}